/*
//
//
//  ESTILOS PAGINA INDEX
//
//
*/

@media screen and (max-width: 1695px) {
    input.image_buscar {
        display: none;
    }
}
@media screen and (max-width: 1528px) {
    .gridContenidoDos {
        width: 100% !important;
        display: flex;
        justify-content: center;
        padding: 8px 0;
    }
    .gridCentrar {
        width: 100%;
        justify-content: center;
    }
}
@media screen and (max-width: 1165px) {
    .gridContenidoDos {
        width: 100% !important;
        display: flex;
        justify-content: center;
        padding: 8px 0;
    }
}
@media screen and (min-width: 421px) and (max-width: 1050px) {
    .pnlNoticiasImagen {
        width: 480px !important;
        height: 523px !important;
    }
    .noticiasImagen {
        width: 800px !important;
    }
}
@media screen and (min-width: 781px) and (max-width: 920px) {
    .contenidoCarouselDos {
        width: 40% !important;
    }
}
@media screen and (max-width: 780px) {
    .contenidoCarouselDos {
        width: 60% !important;
    }
}
@media screen and (min-width: 450px) and (max-width: 780px) {
    .centrarcontenidocarousel {
        justify-content: center !important;
    }
}
@media screen and (max-width: 449px) {
    .centrarcontenidocarousel {
        justify-content: initial !important;
    }
}
@media screen and (max-width: 670px) {
    .pnlNoticiasImagen {
        display: none !important;
    }
    .pnlGridContenidoImg {
        display: none !important;
    }
}
@media screen and (max-width: 592px) {
    .encabezadoTexto {
        width: 450px !important;
    }
    .pnlNoticiasTitulo {
        font-size: 40px !important;
    }
    .pnlTitulo {
        font-size: 70px !important;
    }
    .contactoSoporte {
        display: none !important;
    }
    .gridImg {
        width: 100% !important;
    }
    .footer-enlaces {
        display: none !important;
    }
}
@media screen and (max-width: 500px) {
    .encabezadoTexto {
        width: 350px !important;
    }
    .inputSuscribete {
        width: 80% !important;
    }
}
@media screen and (max-width: 420px) {
    .pnlTitulo {
        width: 380px;
        font-size: 30px !important;
    }
    .pnlSubTitulo {
        width: 290px;
        font-size: 13px !important;
    }
    .encabezadoImagen {
        max-width: 380px !important;
    }
    .pnlNoticiasTitulo {
        width: 380px;
        font-size: 30px !important;
    }
    .pnlNoticiasSubTitulo {
        width: 290px;
        font-size: 13px !important;
    }
    .pnlNoticiasImagen {
        width: 500px !important;
        height: 320px !important;
    }
    .noticiasImagen {
        width: 100% !important;
    }
    .carouselIteres {
        padding-top: 10% !important;
    }
    .line {
        left: 45% !important;
        width: 12% !important;
    }
    .gridImg {
        width: 100% !important;
        height: auto !important;
    }
    .encabezadoSuscribete {
        font-size: 21px !important;
    }
}
@media screen and (max-width: 350px) {
    .imgNavBar {
        max-width: 230px !important;
    }
}
@media screen and (max-width: 360px) {
    .encabezadoTexto {
        width: 260px !important;
    }
    .gridCajas {
        width: 240px !important;
    }
    .gridTitulo {
        width: auto !important;
        font-size: 12px !important;
    }
    .gridSubTitulo {
        width: auto !important;
        font-size: 12px !important;
    }
    .carouselImg {
        width: 210px !important;
    }
    .carouselTitulo {
        width: 260px !important;
    }
    .carouselSubTitulo {
        width: 260px !important;
    }
}
a:hover {
    color: #fff !important;
}
.activeSelected {
    color: #6a1c32 !important;
    background: #FCF1DC !important;
    border-radius: 5px !important;
    border: 5px solid #FCF1DC;
}
a.activeSelected {
    color: #6a1c32 !important;
}
a.activeSelected:hover {
    color: #6a1c32 !important;
}
/*.activeSelected a:link, a:visited, a[href^=tel] {
    color: #6a1c32!important;
}*/

.contactoSoporte {
    position: absolute;
    right: 10%;
    bottom: 35%;
}
.LinkNav {
    color: #6a1c32;
}
.LinkNav:hover {
    color: #b17a45;
}
.pnlMain {
    padding-top: 11% !important;
    display: block;
}
.pnlEncabezado {
    position: relative;
    display: flex;
    width: 100%;
}
.pnlTarjetas {
    padding: 2% 0;
}
.pnlIntereses {
    position: relative;
    display: flex;
    padding: 0% 2% 5% 2%;
    background: #E5E7EB;
}
.carouselIteres {
    padding-top: 4%;
}
.contenidoCarousel {
    display: grid!important;
    justify-content: center;
    align-items: center;
}
.carouselImg {
    width: 280px;
    height: 200px;
    border: 3px solid #fff;
    border-radius: 30px;
    object-fit: cover;
}
.carouselTitulo {
    width: 280px;
    font-size: 20px;
    font-weight: bold;
}
.carouselSubTitulo {
    width: 280px;
    font-size: 13px;
}
.encabezadoTexto {
    display: flex;
    width: 640px;
    flex-direction: column;
}
.encabezadoImagen {
    width: 612px !important;
    height: 557px;
    flex-shrink: 0;
}
.pnlTitulo {
    color: #6a1c32;
    font-size: 96px;
    font-family: Montserrat;
    font-weight: 800;
    letter-spacing: -1.5px;
}
.pnlSubTitulo {
    color: #1B1B1B;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.15px;
    text-align: justify;
}
.pnlNoticiasBC {
    padding: 0% 2% 5% 2%;
}
.pnlNoticias {
    padding-top: 3% !important;
}
.pnlNoticiasTitulo {
    /*    color: #6a1c32;*/
    font-size: 60px;
    font-family: Montserrat;
    font-weight: normal;
    letter-spacing: -1.5px;
}
.pnlNoticiasSubTitulo {
    color: #1B1B1B;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.15px;
    text-align: justify;
}
.pnlNoticiasImagen {
    width: 540px;
    height: 576px;
}
/*.noticiasImagen {
    width: 100% !important;
}*/

.pnlGrid {
    padding-top: 2%;
}
.pnlGridCarousel {
    display: flex;
    justify-content: center;
}
.pnlGridContenidoImg {
    display: flex;
    justify-content: center;
}
.gridImg {
    width: 540px;
    height: 670px;
}
.gridImgIcon {
    width: 40px;
    height: auto;
}
.gridCajas {
    width: 350px;
    height: 330px;
    margin: 2%;
    padding: 2%;
    position: relative;
    border: 1px solid #d7b6b6;
    box-sizing: border-box;
}
.gridTitulo {
    width: 330px;
    font-size: 16px;
    font-weight: bold;
    /*    position: absolute;*/
}
.gridSubTitulo {
    width: 315px;
    font-size: 13px;
    /*    position: absolute;*/
    /*    top: 40%;*/
}
.gridLink {
    position: absolute;
    top: 90%;
    /*    left: 2%;*/
}
.pnlSuscribete {
    position: relative;
    display: flex;
    padding: 4% 2% 4% 2%;
}
.pnlSuscribeteContenido {
    position: relative;
    text-align: center;
}
input.inputSuscribete {
    text-align: left;
    padding-left: 2%;
    position: relative;
    background: transparent;
    outline: none;
    width: 40%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #cfc9c9;
}
input.image_buscar {
    width: 20px;
    border: 0px;
    position: relative;
    left: 1.8%;
    top: 5px;
}
.encabezadoSuscribete {
    color: var(--black, #131313);
    font-size: 38px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 56px;
    padding-bottom: 2%;
}
/*.inputSuscribete {
    text-align: center;
    width: 40%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #cfc9c9;
}
#suscribe {
    text-align: left;
    padding-left: 1%;
}*/

.btnSuscribete {
    color: #fff !important;
    background-color: #6a1c32 !important;
    height: 50px;
    font-size: 11px !important;
}
.btnSuscribete:hover {
    color: #b17a45 !important;
}
.btnImg:hover {
    color: #b17a45 !important;
    /*    background-color: #b17a45;*/
}
.pnlMapas {
    position: relative;
    display: flex;
    padding: 0% 2% 5% 2%;
}
.etiquetaConocenos {
    color: var(--red, #6A1C32);
    text-align: center;
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.36px;
}
.subetiqueta {
    text-align: center;
    font-size: 14px;
    font-family: Montserrat;
}
.line {
    position: absolute;
    width: 3%;
    height: 6px;
    background-color: #b17a45;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    margin-top: 10px;
}

#news-slider {
    margin-top: 10px;
}
.post-slide {
    background: #fff;
    margin: 20px 15px 20px;
    border-radius: 15px;
    padding-top: 1px;
    box-shadow: 0px 14px 22px -9px #bbcbd8;
}
.post-slide .post-img {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    /*    margin: -12px 15px 8px 15px;*/
    /*    margin-left: -10px;*/
}
.post-slide .post-img img {
    width: 100%;
    height: auto;
    transform: scale(1, 1);
    transition: transform 0.2s linear;
}
.post-slide:hover .post-img img {
    transform: scale(1.1, 1.1);
}
.post-slide .over-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: linear-gradient(-45deg, rgba(6, 190, 244, 0.75) 0%, rgba(45, 112, 253, 0.6) 100%);
    transition: all 0.50s linear;
}
.post-slide:hover .over-layer {
    opacity: 1;
    text-decoration: none;
}
.post-slide .over-layer i {
    position: relative;
    top: 45%;
    text-align: center;
    display: block;
    color: #fff;
    font-size: 25px;
}
.post-slide .post-content {
    background: #fff;
    padding: 2px 20px 40px;
    border-radius: 15px;
}
.post-slide .post-title {
    text-align: center;
}
.post-slide .post-title a {
    font-size: 15px;
    font-weight: bold;
    color: #333;
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.post-slide .post-title a:hover {
    text-decoration: none;
    color: #3498db;
}
.post-slide .post-description {
    line-height: 24px;
    color: #808080;
    margin-bottom: 25px;
    text-align: justify;
    padding-right: 20px;
    height: 150px;
}
.post-slide .post-date {
    color: #a9a9a9;
    font-size: 14px;
}
.post-slide .post-date i {
    font-size: 20px;
    margin-right: 8px;
    color: #CFDACE;
}
.post-slide .read-more {
    padding: 7px 20px;
    /*    float: right;*/
    font-size: 12px;
    /*    background: #2196F3;*/
    color: #b17a45;
    box-shadow: 0px 10px 20px -10px #1376c5;
    border-radius: 25px;
    text-transform: uppercase;
    text-decoration: underline;
}
.post-slide .read-more:hover {
    background: #3498db;
    text-decoration: none;
    color: #fff;
}
.owl-controls .owl-buttons {
    text-align: center;
    margin-top: 20px;
}
/*.owl-controls .owl-buttons .owl-prev {
    background: #fff;
    position: absolute;
    top: -13%;
    left: 15px;
    padding: 0 18px 0 15px;
    border-radius: 50px;
    box-shadow: 3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
}
.owl-controls .owl-buttons .owl-next {
    background: #fff;
    position: absolute;
    top: -13%;
    right: 15px;
    padding: 0 15px 0 18px;
    border-radius: 50px;
    box-shadow: -3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
}
.owl-controls .owl-buttons .owl-prev:after, .owl-controls .owl-buttons .owl-next:after {
    content: "\f104";
    font-family: FontAwesome;
    color: #333;
    font-size: 30px;
}
.owl-controls .owl-buttons .owl-next:after {
    content: "\f105";
}*/

@media only screen and (max-width:1280px) {
    .post-slide .post-content {
        padding: 0px 15px 25px 15px;
    }
}
/*
//
//
//  ESTILOS PAGINA GOBIERNO ABIERTO
//
//
*/

@media screen and (max-width: 1600px) {
    .contenidoTabla {
        padding: 6% 0 0 0 !important;
    }
}
@media screen and (max-width: 1480px) {
    /*.contenidoPaginado {
        display: block !important;
    }*/
    .dividirPaginado {
        width: 100% !important;
        display: contents;
    }
}
@media screen and (min-width: 992px) and (max-width: 1190px) {
    .linePilares {
        width: 100% !important;
    }
}
@media screen and (max-width: 935px) {
    .TextoPilares {
        width: 160px !important;
        padding: 0 !important;
    }
}
@media screen and (max-width: 991px) {
    .pnlImagen {
        padding-top: 0!important;
    }
    .widthPilares {
        width: 40% !important;
    }
    .paddingIcons {
        padding: 5% !important;
    }
    .imgPilares {
        width: 120px !important;
    }
    .linePilares {
        width: 80% !important;
    }
    .columns {
        display: inline-table;
        width: 45% !important;
    }
}
@media screen and (max-width: 767px) {
    .activosOrdenar {
        display: block !important;
    }
    .contenidoPaginado {
        display: block !important;
    }
}
@media screen and (max-width: 750px) {
    .widthPilares {
        width: 50% !important;
    }
    .linePilares {
        width: 80% !important;
    }
}
@media screen and (min-width: 601px) and (max-width: 800px) {
    .ContenidoTitulo {
        font-size: 60px !important;
    }
    .ContenidoSubTitulo {
        font-size: 16px !important;
    }
}
@media screen and (max-width: 600px) {
    .ContenidoTitulo {
        font-size: 50px !important;
    }
    .ContenidoSubTitulo {
        font-size: 14px !important;
    }
}
@media screen and (max-width: 590px) {
    .widthPilares {
        width: 60% !important;
    }
    .linePilares {
        width: 80% !important;
    }
    .contenidoTabla {
        padding: 8% 0 0 0 !important;
    }
}
@media screen and (max-width: 500px) {
    .linePilares {
        width: 100% !important;
    }
}
@media screen and (max-width: 490px) {
    .dividir {
        width: 100% !important;
    }
    .texto_button_checkbox {
        position: relative !important;
    }
    .posicionar .left-checkbox {
        position: relative !important;
        justify-content: center;
        display: flex;
    }
    .posicionar .right-fecha {
        position: relative !important;
        justify-content: center;
        display: flex;
    }
}
@media screen and (max-width: 370px) {
    .ContenidoTitulo {
        font-size: 35px !important;
    }
    .ContenidoSubTitulo {
        font-size: 11px !important;
    }
    .iconPilares {
        padding: 20% 0 !important;
    }
}
@media screen and (max-width: 300px) {
    .linePilares {
        margin: auto !important;
        padding: 2% !important;
        width: 150% !important;
    }
    .quitarJustificado {
        justify-content: initial !important;
    }
}
.quitarJustificado {
    justify-content: center;
}
.pnlImagen {
    padding-top: 7%;
}
.imgEncabezado {
    width: 100%;
}

.bg-guinda {
    background-color: #6a1c32;
    color: white; /* Puedes ajustar el color del texto según tus preferencias */
}

.EncabezadoGobierno {
    padding-top: 5%;
    padding-left: 8%;
    padding-right: 8%;
}
.ContenidoTexto {
    text-align: center;
}
.ContenidoTitulo {
    color: #b17a45;
    font-family: Montserrat;
    font-weight: 800;
    letter-spacing: -1.5px;
    font-size: 50px;
}

.TitutloHeader {
    color: #6A1C32;
    font-family: Montserrat;
    font-weight: 800;
    letter-spacing: -1.5px;
    font-size: 96px;
}

.SubtituloHeader {
    font-family: Montserrat;
    font-weight: 500;
    letter-spacing: -1.5px;
    font-size: 20px;
}
.ContenidoSubTitulo {
    color: #1B1B1B;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.15px;
    text-align: justify;

}
.pnlPilares {
    padding: 9%;
}
.iconPilares {
    padding: 2% 0;
    display: block;
    position: relative;
}
.widthPilares {
    width: 25%;
}
.paddingIcons {
    display: block;
}
.imgPilares {
    padding: 3%;
    max-width: 200px;
    max-height: 200px;
    width: 150px;
    position: relative;
    left: 10%;
}
.linePilares {
    width: 60%;
    height: 4px;
    background-color: #b17a45;
    max-width: 100%;
}
.TextoPilares {
    text-align: center;
    width: 200px;
    padding: 2%;
}
.pnlParticipa {
    padding: 3%;
}
.participaTitulo {
    color: #6a1c32;
    font-family: Montserrat;
    font-weight: 800;
    letter-spacing: -1.5px;
    font-size: 36px;
}
.participaSubTitulo {
    color: #1B1B1B;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.15px;
    text-align: center;
    max-width: 980px;
}
:root {
    --color-green: #6a1c32;
    --color-red: #fe5e41;
    --color-button: #fdffff;
    --color-black: #000;
}
.switch-button {
    display: inline-block;
}
.switch-button .switch-button_checkbox {
    display: none;
}
.switch-button .switch-button_label {
    background-color: var(--color-red);
    width: 4rem;
    height: 2rem;
    border-radius: 3rem;
    display: inline-block;
    position: relative;
}
.switch-button .switch-button_label:before {
    transition: .2s;
    display: block;
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: var(--color-button);
    content: '';
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px var(--color-black);
}
.switch-button .switch-button_checkbox:checked+.switch-button_label {
    background-color: var(--color-green);
}
.switch-button .switch-button_checkbox:checked+.switch-button_label:before {
    transform: translateX(2rem);
}
.texto_button_checkbox {
    position: absolute;
    margin: 0px 0px 0px 14px;
    width: 200px;
}
.pnlTabla {
    padding: 4% 0;
}
.activosOrdenar {
    display: flex;
    justify-content: center;
}
.posicionar {
    position: relative;
}
.posicionar .left-checkbox {
    position: absolute;
    top: 0;
    left: 0;
}
.posicionar .right-fecha {
    position: absolute;
    top: 0;
    right: 0;
}
.contenidoTabla {
    margin: 2% 0;
    /*    max-width: 2224px;*/
    display: flex;
    justify-content: center;
}
.card-fecha {
    color: #6a1c32;
    font-size: 9px;
}
.card-body .card-title {
    color: #000;
}
.img-participa-uno {
    width: 356px;
    height: 350px;
}
.contenidoPaginado {
    display: flex;
    justify-content: center;
}
.caja-mostrar {
    width: 60px;
    height: 30px;
    border: 1px solid #c9c6c6;
    border-radius: 4px;
    text-align: center;
}
.caja-pagina {
    width: 60px;
    height: 30px;
    border: 1px solid #c9c6c6;
    border-radius: 4px;
    text-align: center;
}
/*
//
//
//  ESTILOS PÁGINA TRANSPARENCIA PROACTIVA
//
//
*/

.pnlInformacionFrecuente {
    position: relative;
    display: flex;
    padding: 0% 2% 5% 2%;
    background: #E5E7EB;
}
.etiquetaInformacionFrecuente {
    color: var(--red, #6A1C32);
    text-align: center;
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.36px;
}
.carouselInformacionFrecuente {
    padding-top: 4% !important;
}
.carouselInformacionF {
    position: relative;
    width: 1115px;
    margin: 0 auto;
}
.carouselInformacionF-container {
    display: flex;
    overflow: hidden;
    width: 100%;
}
.cardInformacionF {
    flex: 0 0 350px;
    height: 350px;
    margin: 0 10px;
 
}
.contenidoCarouselInformacionF {
    margin: auto;
    padding: 10%;
}
.prev-button, .next-button {
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
.prev-button {
    left: 230px;
}
.next-button {
    right: 230px;
}
/*
//
//
// ESTILOS PAGINA ESTADISTICAS BC
//
//
*/

.chart-container {
    border: 1px solid gray;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 20px;
}
.titulo-estadisticas {
    color: #6A1C32;
    text-align: center;
    font-size: 76px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: -1.5px;
}
.texto-descripcion {
    color: #1B1B1B;
    text-align: center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.15px;
}
.banner {
    width: 100%;
    height: auto;
}
.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
#graficaPoblacion {
    width: 500px;
    max-width: 500px;
    height: auto;
}
#graficaMayores60 {
    width: 400px;
    max-width: 500px;
    height: auto;
}
.my-card {
    border-radius: 16px;
    background: #6A1C32;

}
.btn-custom {
    border-radius: 4px;
    border: 1px solid #6A1C32;
    background: #FFF;
    color: #6A1C32;
    margin: 10px;
    /* Agregar un pequeño margen para el espacio entre los botones */
}
.full-width-chart {
    width: 100%;
    height: 500px;
}
.my-text-1 {
    color: #000 !important;
    font-size: 20px !important;
    font-family: Montserrat, sans-serif !important;
    font-weight: 600 !important;
    line-height: 32px !important;
    text-align: left !important;
}
.my-text-2, .my-text-3 {
    color: #000 !important;
    font-size: 14px !important;
    font-family: Montserrat, sans-serif !important;
    font-weight: 500 !important;
    line-height: 20px !important;
    letter-spacing: 0.07px !important;
    text-align: left !important;
}
.nav-link {
    color: #6a1232 !important;
    font-size: 1em;
    /* ajusta este valor a lo que necesites */
    font-weight: 600;
}
.nav-link:hover, .nav-link:focus, .nav-link.active {
    color: #6a1232 !important;
    background-color: #dcdcdc;
}
.nav-item {
    flex-grow: 1;
}
/*
//
//
//  ESTILOS CAROUSEL
//
//
*/

.paginacion {
    display: inline-block;
}
.paginacion a {
    color: #767474;
    float: left;
    padding: 8px 16px;
}
.paginacion a.activo {
    /*background-color: green;
    color: white;*/
    color: #6a1c32;
}
.paginacion a:hover:not(.activo) {
    background-color: gray;
}
.anterior {
    color: #000;
}
.siguiente {
    color: #000 !important;
}
.centrar {
    text-align: center;
}
.center {
    text-align: center;
}

.golden-border {
    border-top: 3px solid #b17a45;
    border-bottom: 3px solid #b17a45;
    display: grid;
    padding: 1rem;
    
  }
  .cherry-block {
    background-color: #6A1C32; /* Guinda color */
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    margin: auto;
    display: inline-block; /* To keep the block width according to content */
  }

  .mb-4 {

    border: none;
}


  
  
.carousel-indicators {
    /*    position: absolute;*/
    bottom: -32px;
    left: 80%;
    z-index: 15;
    /*    width: 60%;*/
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
    background: transparent;
}

.carousel-indicators .active {
    width: 8px;
    height: 8px;
    margin: 0;
    background-color: #fff
}
@media screen and (min-width:768px) {
    .carousel-indicators {
        bottom: -50px
    }
}

.bg-gold {
    background-color: #b17a45;
  }

.bg-3f3f3d {
    background-color: #3f3f3d;
}

.bg-6a1c32 {
    background-color: #6A1C32;
}

